*.swp
*.pyc
*.lpickle # "(l)ocal-storage" pickle file extension
__pycache__
__appcache__
cache/
profiling.csv
_econn_old
.keys
venv/
checkpoints/
stonks/*.csv

*.pickle

.model_checkpoints/
*.png

sp100/

classifier_pretrained.pt

piss.ipynb
