certifi==2022.9.24
charset-normalizer==2.1.1
diffusers @ git+https://github.com/huggingface/diffusers.git@0f1c24664c5dabbb0e2fb11115a4afe54dbc7c34
distlib==0.3.6
filelock==3.8.0
gitdb==4.0.10
GitPython==3.1.29
gviz-api==1.10.0
huggingface-hub==0.11.1
idna==3.4
importlib-metadata==5.1.0
MarkupSafe==2.1.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
packaging==21.3
Pillow==9.3.0
platformdirs==2.5.2
protobuf==4.21.9
pyglet==2.0.2.1
pyparsing==3.0.9
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
six==1.16.0
smmap==5.0.0
tensorboard-plugin-profile==2.8.0
tokenizers==0.13.2
torch==1.13.0
tqdm==4.64.1
transformers @ git+https://github.com/huggingface/transformers.git@60d1f31bb009d09e884699bfe30ac34555bb4a5c
typing_extensions==4.4.0
urllib3==1.26.13
virtualenv==20.16.6
Werkzeug==2.2.2
zipp==3.11.0
